.titleHealthPage {
    color: black;
    font-size: 45px;
}

.dropdownHealth {
    display: flex;
}

.selectMonthHealth {
    text-align: left;
    width: 200px;
    margin: 1rem;
}

.selectRoomHealth {
    text-align: left;
    margin: 1rem;
}

@media screen and (max-width: 1022px){
    .titleHealthPage {
        color: black;
        font-size: 25px;
    }
    .dropdownHealth {
        display: block;
    }
    .health-table {
        width: 1100px;
    }
}