@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/utilities/animations.sass";
@import "../../node_modules/bulma/sass/utilities/controls.sass";
@import "../../node_modules/bulma/sass/utilities/mixins.sass";
@import "../../node_modules/bulma/sass/elements/table.sass";

$table-row-hover-background-color:#ddd;
$modal-content-width: 95%;
$table-striped-row-even-background-color: #ddd;


// 6. Import the rest of Bulma
@import "node_modules/bulma/bulma.sass";